[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Visual Studio / Rider
.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd

# Crash Reports
sysinfo.txt

# Ignore Generated Input System files
*.inputactions*

# OS-specific
.DS_Store
Thumbs.db
